/node_modules
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
docker-compose.yml
docker-compose.override.yml
user.ini
.git
.github
.vscode
tests/
phpunit.xml
.editorconfig
.gitattributes
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
package.json
vite.config.js
